# Node modules
node_modules/

# Build output
dist/

# TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Coverage directory
coverage/

# Optional npm cache
.npm/

# Mac / Linux swap files
*~
